<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TechnoserviceEntities" connectionString="metadata=res://*/TechnoserviceAppModel.csdl|res://*/TechnoserviceAppModel.ssdl|res://*/TechnoserviceAppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=K413-14\SQLEXPRESS;initial catalog=Technoservice;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>